/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


* {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
}

nav a {
  padding: 50px;
  color: lightgrey;
  text-decoration: none;
  font-size: 20px;
}

.logo{
  height: 50px;
  margin-left: 40px;
}

.upper{
  margin: 0px 0px 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 500px;
  height: 200px;
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0px 0px 0px;
  line-height: 75px;
  vertical-align: top;
  transform: scale(1, 0.8)
}

button {
  border: 1px solid black;
  width: 200px;
  height: 45px;
  background: white;
  font-size: 22px;
  margin: 90px 0px 0px 0px;
  vertical-align: top;
}

.eyecatch{
  margin: 0px 0px 0px 0px;
  vertical-align: top;
  width: 500px;
}

.left{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right{
  margin-left: 100px;
}

hr{
  margin: 50px 0px 0px 0px;
  width: 1350px;
}

.upper-content{
  display: flex;
}

.upper-left{
  width: 650px;
  margin-right: 25px;
}

.upper-right{
  width: 650px;
}

h2{
  font-size: 32px;
  margin-top: 60px;
}

p{
  font-size: 22px;
}

.middle-img{
  width: 1350px;
  margin-top: 60px;
}

.lower-content{
  display: flex;
}

.lower-left{
  width: 425px;
  margin-right: 25px;
}

.lower-middle{
  width: 425px;
  margin-right: 25px;
}

.lower-right{
  width: 425px;
}

.address{
  width: 1350px;
}

.copyright{
  margin-top: 40px;
  width: 1350px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.contact{
  margin-top: 80px;
  width: 1350px;
}

.call-email{
  line-height: 40px;
  margin-top: 19px;
  width: 1350px;
}


@media screen and (max-width: 800px) {
  .top {
	  display: flex;
	  flex-direction: column-reverse;
  }
  
  .logo {
	  width: 180px;
	  height: 35px;
	  margin-top: 20px;
  }
  
  nav a {
	  padding: 35px;
	  font-size: 18px;
  }
  
  .eyecatch {
	  display: none;
  }
  
  .left {
	  margin-left: 120px;
  }
  
  h1 {
	  font-size: 75px;
	  transform: scale(1, 0.9);
	  line-height: 60px;
  }
  
  button {
	  margin-top: 45px;
	  width: 175px;
	  height: 35px;
	  font-size: 18px;
  }
  
  hr{
	  margin: 50px 0px 0px 0px;
	  width: 750px;
  }
  
  .upper-left {
	  width: 355px;
  }
  
  .upper-right {
	  width: 355px;
  }
  
  h2 {
	  font-size: 18px;
	  margin-top: 40px;
  }
  
  p {
	  font-size: 18px;
  }
  
  .middle-img {
	  width: 750px;
	  margin-top: 40px;
  }
  
  .lower-content {
	  height: 600px;
  }
  
  .lower-left {
	  width: 229px;
	  margin-right: 25px;
  }

  .lower-middle{
	  width: 229px;
	  margin-right: 25px;
  }

  .lower-right{
	  width: 229px;
  }
	  
  .address{
	  width: 750px;
  }

  .copyright{
	  margin-top: 40px;
	  width: 750px;
  }

  .contact{
	  margin-top: 40px;
	  width: 750px;
  }

  .call-email{
	  margin-top: 15px;
	  width: 750px;
  }

  
}

@media screen and (max-width: 500px) {

  nav {
	  flex-direction: column;
	  width: 500px;
  }

  nav a {
	  display: flex;
	  justify-content: center;
	  font-size: 20px;
	  border-top: 1px solid black;
	  padding: 22px;
  }
  
  .last-a {
	  border-bottom: 1px solid black;
  }

  .logo {
	  margin-left: 0px;
	  width: 180px;
	  height: 40px;
	  margin-bottom: 20px;
  }

  .left {
	  display: flex;
	  justify-content: center;
  }

  h1 {
	  font-size: 80px;
	  transform: scale(1, 1);
	  margin-top: 60px;
  }

  button {
	  width: 200px;
  }

  hr {
	  width: 450px;
  }

}